    
        .col1 {
            float: left;
            margin-left: 8%;
            margin-right: %;
            font-family: Myriad Pro;
            width: 92%;
            color: white;
        }
        
        .col2 {
            position: absolute;
            z-index: -1;
            margin-right: 20%;
        }
        
        body {
            background-color: #42444f;
        }
        
        .header {
            background-color: #1f2025;
            margin-bottom: 1em;
            width: 100%;
            position:;
        }
        /*
.footer {
    clear: both;
    padding: 1em 2em;
    background-color: #cccccc;
}
*/
        
        .liquidTest {
            height: 100;
        }
        
        img#logoLeft {
            width: 8%;
            align: left;
            padding: .8em;
        }
        
        img#logoRight {
            width: 8%;
            padding-right: 1.8em;
            padding-top: .8em;
        }
        
        .quiz {
            table-layout: fixed;
            width: 80%;
            border: 2px solid #618b00;
            border-collapse: collapse;
            text-align: center;
            margin-left: 10%;
            margin-right: 10%;
            color: black;
            overflow: scroll;
            font-weight: bold;
        }
        
        .oddRow,
        .evenRow {
            border: 2px solid #618b00;
            border-collapse: collapse;
            padding: 1em;
        }
        
        .oddRow {
            width: 17%;
            background-color: #42444f;
            color: white;
        }
        
        .evenRow {
            background-color: #1f2025;
            color: white;
        }
        
        table.instructTable {
            width: 70%;
            margin-left: 15%;
            margin-right: 15%;
        }
        
        select {
            width: 60%;
        }
        
        .button {
            background-color: #ebebeb;
            color: #1b93c3;
            text-transform: uppercase;
            border-radius: 2em;
            padding-top: 4px;
            padding-bottom: 4px;
            padding-left: 17px;
            padding-right: 17px;
            font-weight: 400;
            font-size: 14px;
            margin-top: 1%;
            margin-left: 10%;
            margin-bottom: 1%;
        }
        
        .userInfoTable {
            margin-left: 10%;
        }
        
        .userInfo {
            padding: 1em;
            font-size: 18px;
            font-weight: 400;
        }
        
        .instructHeader {
            font-size: 23px;
        }
        
        .instructBody {
            font-size: 18px;
            font-weight: 400;
            margin-left: 3%;
        }
        
        a:visited {
            color: #21b5bb;
        }
        
        #pattern {
            width: 130%;
        }